# Exemplo de variáveis de ambiente para o projeto
PAGBRASIL_SECRET=PAGBRASIL_SECRET_TOKEN
PAGBRASIL_PBTOKEN=PAGBRASIL_PBTOKEN
PAGBRASIL_SUBSCRIPTION_GET_URL=https://connect.pagbrasil.com/api/pagstream/subscription/get
KLAVIYO_API_KEY=SEU_KLAVIYO_API_KEY
PORT=8080